.singin-container {
  flex: 1 0 0;
  margin-bottom: 40px;
}

.error {
  display: block;
  color: #FF0033;
  font-size: 14px;
  margin-top: 3px;
}
@media (max-width: 600px) {
 .w-50{
      width: 100%!important;
  }
}