.doc-explorer {
  &__content {
    margin-bottom: 20px;
  }

  &__title {
    padding: 10px 0;

    border-bottom: 1px solid #e0e0e0;
    color: white;

    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;

    user-select: none;
  }

  &__type-name {
    color: #eaf58d;
  }

  &__arg-name {
    color: #8debf5;
  }
}

.doc-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &__field-name {
    color: #a0cdf9;

    cursor: pointer;
    &:hover {
      filter: invert(0.4);
    }
  }

  &__type {
    color: #eaf58d;

    cursor: pointer;
    &:hover {
      filter: invert(0.4);
    }
  }
}

.arg {
  &__name {
    color: #8debf5;
  }

  &__type-name {
    color: #eaf58d;

    cursor: pointer;

    &:hover {
      filter: invert(0.4);
    }
  }
}
