.doc-explorer {
  &__title {
    border-bottom: 3px solid #e0e0e0;
    color: #04b1f3;
    cursor: default;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;

    user-select: none;
  }
}

.item {
  margin-bottom: 10px;

  &__field-name {
    color: #a0cdf9;
  }

  &__type {
    color: #eaf58d;
  }
}
