.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 100%;
  padding: 5px;
  background-color: #212a3b;
}

.doc {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px;

  transition: 0.4s;
  cursor: pointer;

  * {
    width: 100%;
    height: 100%;
    fill: white;
  }

  &:hover {
    background-color: #69799b6e;
  }
}
